<div id="snackbar" class="row justify-content-between">


</div>


<div class="container-fluid text-light text-center">
    <section id="button-container">
        <h1 class="text-light">Buy a snack from Vendr?</h1>
        <button class="btn btn-warning" onclick="app.VendrController.addMoney(.10)">Gimme 💲0.10</button>
        <button class="btn btn-warning" onclick="app.VendrController.addMoney(.25)">Gimme 💲0.25</button>
        <button class="btn btn-warning" onclick="app.VendrController.addMoney(1.00)">Gimme 💲1.00</button>
        <span id="money-display" class="bg-dark border rounded p-2 m-2">$0.00</span>
    </section>
</div>